/* test的css样式 */

.wrap {
    position: relative;
}

.find {
    margin-left: 670px;
    margin-bottom: 30px;
    width: 100px;
    height: 40px;
}

h3 {
    margin: 0 225px 0;
}

table {
    margin: 0 auto;
}

th {
    padding: 0 25px;
}

td {
    text-align: center;
}